/**
 * # Títulos
 */

h1
h2
h3
h4
h5
h6
.h1
.h2
.h3
	font-family $fuente-Titulos
	font-style normal
	font-weight lighter
	margin 1.5em auto 0.2em 0
	a
	.logo a
		font-family $fuente-Titulos
		font-style normal
		&:first-letter
			text-transform uppercase
	
	&:first-letter
		text-transform uppercase
		
// Heading de secciones de la web en la home
.heading
	border-bottom 1px dotted $silver
	margin-bottom 1.5em
	// height 55px
	
	h1, h2, h3, .h1, .h2, .h3
		color $rosa
		font-weight lighter
		line-height 100%
		margin 0
		overflow hidden
		padding 0.3em 0
		text-align left
		
		[class^="icon-"], [class*=" icon-"]
			background $rosa
			border 3px solid $white_crema
			border-radius 20em
			border-radius 50%
			box-sizing border-box
			color $white
			display inline-block
			float right
			// position absolute
			// top 0
			right 0
			font-size 25px
			// height 50px
			line-height 100%
			margin-top -8px
			margin-left 1em
			padding 10px
			// width 50px

		