// Alineaciones típicas de WordPress en el editor de contenidos.
.alignright
a .alignright
	float right
	margin-bottom 0.5em
	margin-left 1em

.alignleft
a .alignleft 
	float left
	margin-bottom 0.5em
	margin-right 1em

.aligncenter
a .aligncenter
	display table !important
	margin-right auto
	margin-left auto
	
.centrado
	margin-left auto
	margin-right auto
	text-align center
	
.clearboth
	clear both
	
.error_404
	background $black
	color $ladrillo
	font-size 5em
	
.justify
	text-align justify
	
.left
	text-align left	
	
.right
	text-align right
	

// Clases utilitarias
.is-hidden
	display none !important