// Formato del autor
.autor
	box-shadow 0px 0px 62px 32px $nube inset
	padding 1em
	figure
		box-shadow 8px 8px 15px $black
		float left
		overflow hidden
		margin 0 1em 1em 0
		img
			border 3px solid $white
			display block
			height 100px
			width 100px

	&--titular
		margin-top 0

	.blanco.redondo
		border-color $white
		margin-left 0