/*
El Footer de la página web
*/

.data_fiscal
	text-align right
	img
		width 50px

.main__footer
	color $white_crema
	padding 1em 1em 3em 1em

.redes_sociales
	ul
		list-style none
		margin 1em 0
		padding 0
		li
			display inline-block
			margin-right 0.2em
			&:before
				content ""
				margin-right 0
/*
.iconos-png
	background-image url('../img/iconos-png/02.sociales_32.png')
	background-repeat no-repeat
	background-size 100%
	display block
	height 2em
	transition all 0.1s ease-in-out
	width 2em
	&--facebook
		background-position left bottom
	&--google-plus
		background-position left top
	&--linkedin
		background-position left -36px
	&--twitter
		background-position left -72px
	&:hover
		transform scale(1.1)

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-ms-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 240dpi)
	.iconos-png
		&--facebook
			background-image url('../img/iconos-png/Entypo_f30c(15)_64.png')
		&--google-plus
			background-image url('../img/iconos-png/Entypo_f30f(12)_64.png')
		&--linkedin
			background-image url('../img/iconos-png/Entypo_f318(14)_64.png')
			background-position top left
		&--twitter
			background-image url('../img/iconos-png/Entypo_f309(13)_64.png')
			background-position top left
*/
@media all and (min-width:40em)
	.copyright
		display inline-block
		*display inline
		vertical-align top
		width 49%