/*
 * # Stylus CSS Framework
 */

// Utilidades generales
@import 'lib/nib'
/*
@import 'lib/normalize'
// @import 'base/reset'

// Estilos bases, mixins y funciones
@import 'base/mixins'
// @import 'base/animations'
@import 'base/variables'
@import 'base/fonts'
@import 'base/base'
@import 'base/headings'
// @import 'base/grid'
@import 'base/utility'


// Componentes reutilizables
// @import 'components/datepicker'
// @import 'components/lightbox'
@import 'components/alertas'
@import 'components/buttons'
@import 'components/icons'
@import 'components/panel'
@import 'components/panel-small'
@import 'components/navegacion'
@import 'components/tablas'
@import 'components/menu'
@import 'components/gotop'
@import 'components/citas'
@import 'components/listas'
// @import 'components/etiquetas'
@import 'components/breadcrums'
@import 'components/pagination'
@import 'components/formularios'
@import 'components/articulo'
// @import 'components/galeria'
@import 'components/imagenes'

// Secciones de la web
@import 'sections/header'
@import 'sections/switcher'
// @import 'sections/vidriera'
// @import 'sections/vidriera-2'
// @import 'sections/slider'
// @import 'sections/portfolio-items'
// @import 'sections/sidebar'
@import 'sections/autor'
@import 'sections/footer'
@import 'sections/elementos_post'

// Layouts de la web
@import 'layout/columnas'
@import 'layout/fondo'

// Impresora
@import 'layout/print'
*/