.gotop
	background url('../img/iconos-png/Entypo_e4af(1)_64.png') center center no-repeat
	bottom 3em
	display inline-block
	height 60px
	opacity 0.5
	padding 0
	position fixed
	right 0.5em
	transition all 0.1s ease-in-out
	width 60px
	z-index 150
	
	&-mostrar
		opacity 0.5
	
	&-ocultar
		opacity 0
	
	&:hover
		opacity 1
			

@media all and (min-width: 1090px)
	.gotop
		bottom 1em
		right 1em
		&-ocultar
			bottom -5em


@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-ms-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 240dpi)
	.gotop
		background-image url("../img/iconos-png/Entypo_e4af(1)_128.png")
		background-size 100%